<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <div class="login">
  <title>Anchor Dashboard</title>
</head>
<form method="POST" action="/page">
<body>


  <label for="loginfield">Login</label>
  <br>
  <input type="text" name="page_name" id="name" />
  <br>
  <label for="passwordfield">Password</label>
  <br>
  <input type="text" name="page_password" id="password" />
  <br>
  <input type="submit" value="Create" />
  <br><br>
  <a href="/profile/edit">Sign Up</a>
  <br>
  <% if session[:access_token] %>
  <a href="/logout">Logout</a>
  <% else %>
  <a href="<%= @url %>">Login with Github</a>
  <% end %>
</div>

</body>
</form>
</html>

