<div class="login2">
<h2> Make your Dashboard</h2>
  <body>
    <form method="POST" action="/profile/new">
      <label for="name">Email: </label>
      <br>
      <input type="text" name="user_name" id="name" />
        <br><br>
      <label for="email">Password: </label>
      <br>
      <input type="text" name="user_email" id="email" />
        <br><br>

      <label for="feed_choice">Please Pick One or More</label>
        <br><br>
      <label for="movies">House Bills: <input type="checkbox" name="house_bills" id="house_bills" /></label>
        <br><br>
      <label for="senate_bills">Senate Bills: <input type="checkbox" name="senate_bills" id="yelp" /></label>
        <br><br>
      <label for="top_stocks">Top Stocks: <input type="checkbox" name="top_stocks" id="top_stocks">
        <br><br>
      <label for="weather">Weather: <input type="checkbox" name="weather" id="weather" /></label>
        <br><br>


      <input type="submit" value="Submit" />
    </form>
  </body>
</div>

